@keyframes box-ani {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(100px, 0px);
  }
}
.painting {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 200px; */
  /* height: 200px; */
  /* border: 2px solid black; */
  /* background-color: rgba(255, 255, 0, 0.7); */
  animation: box-ani 1s linear forwards infinite alternate; /* 애니메이션 적용 */
}