body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(0deg, var(--Beige-Content) 30%, var(--Beige-BG) 65%);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=password] {
  font-family: "Segoe UI";
}

input::placeholder {
  font-family: "Jua";
}

@font-face{
  font-family: "Jua";
  src: url("../public/fonts/BMJUA_otf.otf");
}

@font-face{
  font-family: "Dongle";
  src: url("../public/fonts/Dongle-Regular.ttf");
}

@font-face{
  font-family: "Gugi";
  src: url("../public/fonts/Gugi-Regular.ttf");
}


@font-face{
  font-family: "Gaegu";
  src: url("../public/fonts/Gaegu-Regular.ttf");
}